/* Name: Nur Najiyyah Binti Mohd Shahri Malek
   Lab Assignment 4: JavaScript
*/

body {
     background-color: #2471A3;
     font-family: Arial, Verdana, sans-serif;
     margin-left: 20px;                         }

h1 { text-align: center; color: white; }

.date { color: yellow; font-size: 20px; }

div {  
    background-color: #D0ECE7; 
    border-radius: 5px;
    padding: 5px;
    margin: 10px;             }


 .name {
     width:50%;
     height:25px;
} 


input[type="button"], input[type="reset"]  { 
    width: 150px;
    height: 30px;
   }

 